body {
	color: white;
	font-family: monospace;
	width: 100%;
	image-rendering: pixelated;
}

.background {
	background: url("media/bg.jpg");
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -3;
}

.background-gradient {
	background: linear-gradient(-45deg, rgba(0, 0, 10, 0.3), rgba(36, 0, 58, 0.2));
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

#circles {
	position: fixed;
	height: 100%;
	width: 100vw;
	z-index: -1;
}

.circle {
	position: absolute;
	border-radius: 50%;
	filter: blur(30px);
	transform: scale(2);
	animation-name: wiggle;
	animation-duration: 30s;
	opacity: 40%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.size-2 {
	left: 10vw;
	top: -10vw;
	height: 22vw;
	width: 22vw;
	background-color: #460680;
	animation-direction: reverse;
}

.size-1 {
	right: 23vw;
	bottom: 12vw;
	height: 30vw;
	width: 30vw;
	background-color: #1f0954;
	animation-delay: 3s;
}

.size-3 {
	left: 0vw;
	bottom: 0vw;
	height: 20vw;
	width: 20vw;
	background-color: #230f73;
	animation-delay: 1.5s;
}

@keyframes wiggle {
	0% {
		transform: translate(0, 0) scale(2);
	}

	20% {
		transform: translate(20vw, 10vw) scale(2);
	}

	40% {
		transform: translate(0vw, 30vw) scale(2);
	}

	60% {
		transform: translate(-30vw, 50vw) scale(2);
	}

	80% {
		transform: translate(-10vw, 20vw) scale(2);
	}

	100% {
		transform: translate(0, 0) scale(2);
	}
}

#main {
	width: 43%;
	padding: 30px;
	position: relative;
	z-index:2;
	margin: 0;
}

.blinkies {
	position: fixed;
	left: 5%;
	width: 20%;
	margin-top: 40px;
	border-radius: 10px;
	padding-bottom: 13px;
	background: linear-gradient(-45deg, rgba(0, 0, 10, 1), rgba(36, 0, 58, 1));
}

.bar {
	width: 100%;
	font-size: 20px;
	background-color: #7d51d0;
	padding-left: 13px;
	margin-bottom: 13px;
}

.blinky {
	width: 88px;
}

.main-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

@media (max-width:800px)  {
	#main {
		width: 100%;
	}

	#field-1 {
		display: none;
	}

	#field-2 {
		display: none;
	}

	.blinkies {
		display: none;
	}
}