body {
	background: linear-gradient(45deg, #00000a, #24003a);
	color: white;
	font-family: monospace;
	width: 100%;
}

#main {
	width: 40%;
	padding: 30px;
}

@media (max-width:800px)  {
	#main {
		width: 100%;
	}
}